@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#root header {
  background-color: tomato;
  padding-left: 10px;
  height: 40px;

  /* fixed 그림자를 위해.
  box-shadow: 0 0 60px 30px #262626;
  position: fixed;
  width: 100%;
  */
}

#root header .header img {
  height: 40px;
  vertical-align: middle;
}

#root header .header span {
  display: inline-block;
  vertical-align: middle;
}

#root header .header #join-counting {
  position: absolute;
  top: 2px;
  left: 145px;
  color: #795548;
}

#root header .out span {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

#root main {
  background-color: gray;
  height: 100%;
  display: flex;
}

#root main #messages {
  /*background-color: #262626;*/

  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;

  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  color: #cccccb;
  padding: 8px 10px;
}

#root main #messages .logs {
  display: table;
  transform: scale(1);
  /*animation-name: highlight;
  animation-duration: .3s;*/
  animation-name: fadeIn;
  animation-duration: .3s;
}

#root main #messages .time {
  color: #8c8c8c;
}

#root main #messages .user {
  __color: #00bfff;
  font-weight: bold;
  padding: 0 5px;
}

#root main #messages .msg {
  color: #cac9c8;
}

#root main #messages .logs span {
  display: table-cell;
}

#root footer #wagle-form {
  background-color: #000;
  border-top: 1px solid gray;
  display: flex;
}

#root footer #wagle-form #wagle-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 15px;
  color: #000;
  border: none;
  outline: none;
}

/* Animation keyframes */
@keyframes highlight {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
